@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing:border-box;
    
  }
a {
  text-decoration:none;
  color:#333;
}
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#wrap {
  width:100%; height:100vh;
  background-color: #eeeeee;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #999999;
  padding: 0 10%;
  font-family: 'Dovemayo_gothic';
  background-color: #ffffff;
}
  .page_logo {
    float:left;
    width:20%; height:100%;

  }
  .page_logo > img {
    width:100%; height:100%;
  }
  #divMenu {
    float:left;
    width: 55%; height:100%;
  }
    #ulMenu {
      display:flex;
      width:100%; height:100%;
      list-style-type:none;
      justify-content: center;
      align-items: flex-end;
    }
      #ulMenu > li {
        display:inline;
        width:90px; height:50px;
        padding: 10px 0px;
        text-align:center;
        line-height:40px;
        font-size:15px;
      }
      #ulMenu > li > a {
        display:block;
        width:100%; height:100%; 
      }
      #ulMenu > li > a:hover {
        color:#2a913e;
      }
    .selBtn {
      color: #00ce29;
      font-weight:bold;
      border-bottom: 3px solid #007010;
    }
    .profile {
      float:left;
      width:25%; height:100%;
      padding: 0 4px;
    }
      .pro_cont {
        width: 70%;
        height: 100%;
        float: left;
      }
        .pro_cont > h3 {
          padding-top: 30px;
          width:100%; height:60%;
          font-size:14px;
        }
        .pro_cont > p {
          width:100%; height:40%;
          font-size:12px;
          line-height:38px;
        }
      .pro_btn {
        float:left;
        width:20%; height:100%;
      }
        .pro_btn > a > button {
          display:block;
          width:100%; height:35px;
          font-family: 'Dovemayo_gothic';
          position:relative;
          top: 40%;
          margin-top: 0%;
          background-color: #A6E2B1;
          border: none;
          border-radius: 5px;
          margin-top: 5px;
        }
        .pro_btn > a > button:hover {
          background-color: #2a913e;
          color: #A6E2B1;
          cursor: pointer;
        }
        .pro_btn > a > i {
          padding-top: 5px;  
          margin-right: 5px;
        }
              #content {
                float: left;
                padding: 25px 0px;
                width:100%; height:100vh;
                background-color: #EAEFEB;
              }
                .listMain {
                  justify-self: center;
                  margin-top: 0px;
                  width:50%; height:70%;
                }
                  .mainTitle {
					width: 100%;
				    height: 12%;
				    background-color: #ffffff;
				    margin-right: 15px;
				    border-radius: 10px;
                  }
                    .mainTitle1 {
                      float: left;
                      margin-right: 20px;
                      padding-left: 15px;
                      width:15%; height:100%;
                      line-height:4.5;
                      font-size:14px;
                      font-weight:bold;
                    }
                      .fa-tree {
                        color:#007010;
                        margin-right: 5px;
                      }
                    .mainTitle2 {
                      float: left;
                      padding-left: 15px;
                      width:calc(85% - 30px); height:100%;
                      text-align: center;
                      line-height:4.5;
                      font-size:13px;
                    }
                  .mainInfo {
                    width:100%; height:72%;
                    margin-top: 15px;
                  }
                    .mainWriter1 {
                      float: left;
                      width:50%; height:15%;
                      background-color: #ffffff;
					   margin-right: 15px;
					   border-radius: 10px;
                    }
                      .mainWriterName1 {
                        float: left;
                        margin-right: 20px;
                        padding-left: 15px;
                        width:30%; height:100%;
                        line-height:4;
                        font-size:14px;
                        font-weight:bold;
                      }
                      .mainWriterName2 {
                        float: left;
                        padding-left: 15px;
                        width:calc(70% - 30px); height:100%;
                        text-align: center;
                        line-height:4.3;
                        font-size:13px;
                      }
                    .mainWriter2 {
                      float: left;
                       width: calc(50% - 15px);
 					   height:15%;
 					   background-color: #ffffff;
	        			border-radius:10px;
                     }
                      .mainWriterDate1 {
                        float: left;
                        margin-right: 20px;
                        padding-left: 15px;
                        width:30%; height:100%;
                        line-height:4;
                        font-size:14px;
                        font-weight:bold;
                      }
                      .mainWriterDate2 {
                        float: left;
                        padding-left: 15px;
                        width:calc(70% - 30px); height:100%;
                        text-align: center;
                        line-height:4.3;
                        font-size:13px;
                      }
                    .mainContent {
                      float:left;
                      width:100%; height:85%;
                      padding: 15px 0;
                      background-color: #ffffff;
	        		  border-radius:10px;
	        		  margin-top:15px;
                    }
                      .mainContent1 {
                        float: left;
                        margin-right: 20px;
                        padding-left: 15px;
                        width:15%; height:100%;
                        line-height:3.5;
                        font-size:14px;
                        font-weight:bold;
                      }
                      .mainContent2 {
                        float: left;
                        padding-left: 15px;
                        width:calc(85% - 30px); height:100%;
                        text-align: justify;
                        line-height:2;
                        font-size:12px;
                      }
          .mainAnswer {
            float:left;
            width:100%; height:calc(20% - 30px);
            background-color: #ffffff;
          	border-radius:10px;
          	margin-top: 30px;
          }
            .mainAnswer1 {
              float: left;
              margin-right: 20px;
              padding-left: 15px;
              width:15%; height:100%;
              line-height:3.4;  
              font-size:14px;
            }
            .mainAnswer2 {
              float: left;
              padding: 10px;
              width:calc(85% - 30px); height:100%;
              text-align: justify;
              font-size:12px;
            }
             .mainAnswer2 > textarea {
                width: 60%; height:100%;
                border: 2px solid #c3c3c3;
                border-radius: 5px;
                font-family: 'Dovemayo_gothic';
              }
                  .contentBtn {
                    display: grid;
                    width:100%; height:10%;
                    grid-template-columns: 50% 50%;
                    gap:20px;
                  }
                    .listBtn1 {
                    width:60px; height:30px;
                    align-self: center;
                    justify-self: end;
                    border:none;
                    border-radius: 3px;
                    background-color: #e8e8e7;
                    }
                      .listBtn1:hover {
                        background-color: #b6b6b6;
                      }
                    .listBtn2 {
                      width:60px; height:30px;
                      align-self: center;
                      justify-self: start;
                      border:none;
                      border-radius: 3px;
                      background-color: #e8e8e7;
                    }
                      .listBtn2:hover {
                        background-color: #b6b6b6;
                      }
                    .fa-square-check {
                      color:#787878;
                      margin-right: 3px;
                    }
                    .fa-list {
                      color:#787878;
                      margin-right: 3px;
                    }
                     
              
  @media screen and (max-width: 1000px) {
    #wrap {
      width:100%; height:100vh;
    }
      header {
        display: block;
        width:100%; height:40%;
      }
      .page_logo {
        width:100%; height:30%;
        border-bottom: 1.5px solid #C6C6C680;
      }
        .page_logo > img { 
          width:100%; height:100%;
          
        }
      #divMenu {
        width: 100%; height:20%;
        border-bottom: 1.5px solid #C6C6C680;
      }
        #ulMenu {
          display: flex;
          width:100%; height:100%;
          margin: 0;
          list-style-type:none;
          padding: 15px;
        }
          #ulMenu > li {
            width:100%; height:100%;
            text-align:center;
            line-height:2.5;
            font-weight: bold;
            padding: 0;
            border-radius: 5px;
          }
          #ulMenu > li:hover {
              background-color: #A6E2B1;
              font-weight:bold;
          }
          .profile {
            width:100%; height:20%;
            border: none;
            padding: 0 25px;
          }
            .pro_cont {
              width:100%; height:100%;
            }
            .pro_cont > h3 {
              width:100%; height:50%;
              padding: 0;
              font-size:18px;
            }
            .pro_cont > p {
              width:100%; height:50%;
              font-size:10px;
              line-height:28px;
              padding: 5px 0;
            }
      .pro_btn {
        width:100%; height:10%;
        border-bottom: 1.5px solid #C6C6C680;
        padding: 0 25px;
      }
        .pro_btn > button {
          width:100%; height:25px;
          font-family: 'Dovemayo_gothic';
          background-color: #A6E2B1;
          border: none;
          position: relative;
          top:0;
          border-radius: 5px;
        }
        .pro_btn > button:hover {
          background-color: #2a913e;
          color:rgb(81, 81, 81)
        }
        .pro_btn > button > i {
          padding-top: 5px;  
          margin-right: 5px;
        }
        .fa-ban { 
          color:#006713;
        }
      .search_cont {
        float: left;
        width:100%; height:100px;
        padding:21px;
        margin-top: -56px;
      }
        .search_box {
          margin: 0 auto;
          width:95%; height:100%;
          border: 2px solid rgb(23, 106, 3);
          border-radius: 5px;
        }
            .ser_input {
              float:left;
              width:90%; height:100%;
              line-height:3.3;
              font-size: 14px;
            }
          .search_option2 {
            padding: 10px;
            width:100%; height:100%;
          }
            .search_option2 > p {
              float: left;
              width:15%; height:100%;
              font-weight: bold;
              line-height: 3;
              font-size: 12px;
            }
            #select_qu {
              float:left;
              width:15%; height:100%;
              margin-right: 5px;
              border-radius:5px;
              font-size: 12px;
              border: 1.5px solid #C6C6C680;
            }
            .ser2_input {
              float:left;
              display: block;
              font-size: 12px;
              width:calc(70% - 5px); height:100%;
              line-height:3.3;
            }
              .serch_in {
                float:left;
                border-radius:5px;
                width:80%;
                margin-right: 5px;
                font-size: 12px;
                border: 1.5px solid #C6C6C680;
              }
              .serch_btn {
                float:left;
                border-radius:5px;
                width:calc(20% - 5px); height:100%;
                font-size: 12px;
                border: 1.5px solid #C6C6C680;
              }
            #content {
              float: left;
              padding: 25px 30px;
              width:100%; height:100vh;
              background-color: #EAEFEB;
            }
              .listTitle {
                width:100%; height:40px;
                font-weight: bold;
              }
                .studentTitle {
                  float: left;
                  width:70px; height:40px;
                  line-height:38px;
                  font-size: 13px;
                  text-align: center;
                }
                .studentCnt {
                  float:right;
                  width:80px; height:40px;
                  line-height:38px;
                  font-size: 13px;
                  text-align: center;
                }
              .listMain {
                margin-top: 0px;
                width:100%; height:calc(100% - 60px);
                background-color: #ffffff;
                border-radius: 3px;
              }
				.mainWriter1, .mainWriter2 {
					width:100%;
				}
                .mainTitle {
					width: 100%;
			        display: block;
			        font-size: 12px;
			        font-weight: bold;
			        text-align: center;
			        height: 45px;
			        padding: 5px;
			        font-size: 10px;
                }
                  .mainTitle1 {
                    width:30%;
                    line-height: 2.5;
                   	padding-left: 15px;
                   	text-align:left;
                  }
                  .mainTitle2 {
                  	  width: calc(70% - 30px);
                  	      line-height: 2.5;
                  }
				.mainInfo {
				margin-top:0;
				}
				.mainContent {
					padding:0;
				}
				.mainContent1 {
				width:30%;
				}
				.mainContent2 {
				width: calc(70% - 30px);
				}
                .listCon {
                  display: grid;
                  grid-template-columns: 10% 10% 20% 25% 15% 15%;
                  gap: 2px;
                  font-size:12px;
                  font-weight: bold;
                  text-align: center;
                  width:100%;
                  height:35px;
                  padding: 5px;
                  
                  border-bottom: 1.5px solid #C6C6C680;
                }
                  .listInput {
                    justify-self: center;
                    height:15px;
                    margin-top: 7px;
                  }

                  .fa-ban {
                    padding-left: 3px;
                    padding-right: 2px;
                    color: #f6ca72;
                  }
                  .fa-trash-can {
                    padding-right: 3px;
                    color: #ffd7d7;
                  }
                  .listBtn:hover {
                    background-color: rgb(255, 193, 201);
                  }
                  .mainAnswer1 {
                  width:30%; 
                  }
                  .mainAnswer2 {
                  width: calc(70% - 30px);
                  }
                  .board_page {
                    float:left;
                    width:100%; height:30px;
                    margin-top: 10px;
                    text-align: center;
                    font-size: 0;
                  }
                  
                  .board_page a {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    box-sizing: border-box;
                    vertical-align: middle;
                    border:none;
                    border-left: 0;
                    line-height: 100%;
                  }
                  
                  .board_page a.bt {
                    padding-top: 3px;
                    font-size: 1rem;
                    letter-spacing: -1px;
                  }
                  
                  .board_page a.num {
                    padding-top: 3px;
                    font-size: 1rem;
                  }
                  
                  .board_page a.num.on {
                    border:none;
                    background: #80d991;
                    color: #fff;
                  }
                }