@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing:border-box;
    
  }
a {
  text-decoration:none;
  color:#333;
}
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#wrap {
  width:100%; height:100vh;
  background-color: #eeeeee;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #999999;
  padding: 0 10%;
  font-family: 'Dovemayo_gothic';
  background-color: #ffffff;
}
  .page_logo {
    float:left;
    width:20%; height:100%;

  }
  .page_logo > img {
    width:100%; height:100%;
  }
  #divMenu {
    float:left;
    width: 55%; height:100%;
  }
    #ulMenu {
      display:flex;
      width:100%; height:100%;
      list-style-type:none;
      justify-content: center;
      align-items: flex-end;
    }
      #ulMenu > li {
        display:inline;
        width:90px; height:50px;
        padding: 10px 0px;
        text-align:center;
        line-height:40px;
        font-size:15px;
      }
      #ulMenu > li > a {
        display:block;
        width:100%; height:100%; 
      }
      #ulMenu > li > a:hover {
        color:#2a913e;
      }
    .selBtn {
      color: #00ce29;
      font-weight:bold;
      border-bottom: 3px solid #007010;
    }
    .profile {
      float:left;
      width:25%; height:100%;
      padding: 0 4px;
    }
      .pro_cont {
        width: 70%;
        height: 100%;
        float: left;
      }
        .pro_cont > h3 {
          padding-top: 30px;
          width:100%; height:60%;
          font-size:14px;
        }
        .pro_cont > p {
          width:100%; height:40%;
          font-size:12px;
          line-height:38px;
        }
      .pro_btn {
        float:left;
        width:20%; height:100%;
      }
        .pro_btn > a > button {
          display:block;
          width:100%; height:35px;
          font-family: 'Dovemayo_gothic';
          position:relative;
          top: 40%;
          margin-top: 0%;
          background-color: #A6E2B1;
          border: none;
          border-radius: 5px;
          margin-top: 5px;
        }
        .pro_btn > a > button:hover {
          background-color: #2a913e;
          color: #A6E2B1;
          cursor: pointer;
        }
        .pro_btn > a > i {
          padding-top: 5px;  
          margin-right: 5px;
        }
  #content {
    float: left;
    padding: 25px 0px;
    width:100%; height:100vh;
    background-color: #EAEFEB;
    font-family: 'Dovemayo_gothic';
  }
    .listMain {
      justify-self: center;
      margin-top: 0px;
      width:50%; height:90%;
    }
      .mainTitle {
        padding-top:30px;
        width:100%; height:12%;
      }
        .mainType1 {
        float:left;
        width:25%; height:100%;
        background-color: #ffffff;
        margin-right: 15px;
        border-radius:10px;
        }
        .mainTypeName1 {
          float: left;
          width:50%; height:100%;	
          text-align:center;
          line-height: 3.4;
          font-size:16px;
        }
        .mainTypeName2 {
          float: left;
          width:50%; height:100%;	
          text-align:center;
          font-family: 'Dovemayo_gothic';
          line-height: 3.8;
          font-size:14px;
        }
        .mainType2 {
	        float:left;
	        width:25%; height:100%;
	        margin-right: 15px;
	        background-color: #ffffff;
	        border-radius:10px;
        }
        .mainReportname1 {
          float: left;
          width:50%; height:100%;	
          text-align:center;
          border-bottom: 1px solid #d9d9d9;
          line-height:3.4;
          font-size:16px;
        }
        .mainReportname2 {
          float: left;
          width:50%; height:100%;	
          text-align:center;
          border-bottom: 1px solid #d9d9d9;
          font-family: 'Dovemayo_gothic';
          line-height:3.8;
          font-size:14px;
        }
        .mainType3 {
        float:left;
        width:calc(50% - 30px); height:100%;
        background-color: #ffffff;
        border-radius:10px;
        }
        .mainWriteName1 {
          float: left;
          width:50%; height:100%;	
          text-align:center;
          border-bottom: 1px solid #d9d9d9;
          line-height:3.4;
          font-size:16px;
        }
        .mainWriteName2 {
          float: left;
          width:50%; height:100%;	
          text-align:center;
          border-bottom: 1px solid #d9d9d9;
          font-family: 'Dovemayo_gothic';
          line-height:3.8;
          font-size:14px;
        }
        .mainTitle1 {
          float: left;
          margin-right: 20px;
          padding-left: 15px;
          width:15%; height:100%;
          border-top: 3px solid #2a913e;
          border-bottom: 1px solid #d9d9d9;
        }
          .fa-tree {
            color:#007010;
            margin-right: 5px;
          }
        .mainTitle2 {
          float: left;
          padding-left: 15px;
          width:calc(85% - 30px); height:100%;
          border-top: 3px solid #2a913e;
          border-bottom: 1px solid #d9d9d9;
        }
      .mainInfo {
        padding-top:30px;
        width:100%; height:72%;
      }
        .mainWriter1 {
          float: left;
          width:calc(50% - 15px); height:15%;
          background-color: #ffffff;
          border-radius:10px;
          margin-right:15px;
        }
          .mainWriterName1 {
            float: left;
            margin-right: 20px;
            padding-left: 15px;
            width:30%; height:100%;
            line-height:4.3;
            font-size:16px;
          }
          .mainWriterName2 {
            float: left;
            padding-left: 15px;
            width:calc(70% - 30px); height:100%;
            text-align:center;
            line-height:5;
            font-size:14px;
          }
        .mainWriter2 {
          	float: left;
            width:50%; height:15%;
        	background-color: #ffffff;
          	border-radius:10px;
        }
          .mainWriterDate1 {
            float: left;
            margin-right: 20px;
            padding-left: 15px;
            width:30%; height:100%;
            line-height:4.3;
            font-size:16px;
          }
          .mainWriterDate2 {
            float: left;
            padding-left: 15px;
            width:calc(70% - 30px); height:100%;
            text-align:center;
            line-height:5;
            font-size:14px;
          }
        .mainContent {
          float:left;
          width:100%; height:calc(65% - 30px);
          margin-top: 30px;
          background-color: #ffffff;
          border-radius:10px;
        }
          .mainContent1 {
            float: left;
            margin-right: 20px;
            padding-left: 15px;
            width:15%; height:100%;
            line-height:3.5;
            font-size:14px;
          }
          .mainContent2 {
            float: left;
            padding: 12px;
            width:calc(85% - 30px); height:100%;
            text-align: justify;
            line-height:2;
            font-size:14px;
          }
          .mainAnswer {
            float:left;
            width:100%; height:calc(20% - 30px);
            background-color: #ffffff;
          	border-radius:10px;
          	margin-top: 30px;
          }
            .mainAnswer1 {
              float: left;
              margin-right: 20px;
              padding-left: 15px;
              width:15%; height:100%;
              line-height:4.4;  
              font-size:14px;
            }
            .mainAnswer2 {
              float: left;
              padding: 10px;
              width:calc(85% - 30px); height:100%;
              text-align: justify;
              font-size:12px;
            }
              .answerBox1 {
                width:40%; height:100%;
                float:left;
              } 
                .reportIdx {
                  width:100%; height:30%;
                }
                .reportAdmin {
                  width:100%; height:30%;
                  line-height: 2.3;
                }
                .reportDate {
                  width:100%; height:40%;
                  line-height: 3;
                }
              .mainAnswer2 > textarea {
                width:60%; height:100%;
                border: 2px solid #c3c3c3;
                border-radius: 5px;
                font-family: 'Dovemayo_gothic';
              }
      .contentBtn {
        display: grid;
        width:100%; height:10%;
        grid-template-columns: 50% 50%;
        gap:20px;
      }
        .listBtn1 {
        width:60px; height:30px;
        align-self: center;
        justify-self: end;
        border:none;
        border-radius: 3px;
        background-color: #e8e8e7;
        }
          .listBtn1:hover {
            background-color: #b6b6b6;
          }
        .listBtn2 {
          width:60px; height:30px;
          align-self: center;
          justify-self: start;
          border:none;
          border-radius: 3px;
          background-color: #e8e8e7;
        }
          .listBtn2:hover {
            background-color: #b6b6b6;
          }
        .fa-square-check {
          color:#787878;
          margin-right: 3px;
        }
        .fa-list {
          color:#787878;
          margin-right: 3px;
        }
                     
              
  @media screen and (max-width: 1130px) {
    #wrap {
      width:100%; height:100vh;
    }
      header {
        display: block;
        width:100%; height:300px;
        padding:0;
      }
        .page_logo {
          padding: 0;
          width:100%; height:40%;
        }
        .page_logo > img {
          width:100%; height:100%;
        }
        #divMenu {
          float:left;
          width: 100%; height:20%;
          padding: 0 20px;
        }
          #ulMenu {
            display: grid;
            grid-template-columns:25% 25% 25% 25%;
            width:100%;
            list-style-type:none;
            margin: 0;
          }
            #ulMenu > li {
                display:inline;
                width:100%; height:50px;
                padding: 0;
                text-align:center;
                line-height:40px;
                font-weight: bold;
                border-radius: 5px;
                font-size:14.5px;
            }
            #ulMenu > li:hover {
                background-color: #A6E2B1;
                font-weight:bold;
            }
              #ulMenu > li > a {
                display: block;
                padding: 10px 10px;
                width:100%; height:50px;
                line-height:28px;
              }
          .profile {
            float:left;
            width:100%; height:20%;
            padding: 0 20px;
          }
            .pro_cont {
              width:100%; height:50%;
            }
            .pro_cont > h3 {
              padding: 0;
              width:100%; height:60%;
              font-size:18px;
              line-height:38px;
            }
            .pro_cont > p {
              padding-top: 8px;
              width:100%; height:40%;
              font-size:10px;
              line-height:38px;
            }
            .pro_btn {
              float:left;
              width:100%; height:50%;
              padding: 0 20px;
            }
              .pro_btn > a {
                display:block;
                justify-self: center;
                width: 40%;
                font-family: 'Dovemayo_gothic';
                position:relative;
                top:90%; left:0%;
                margin-top: 0%;
                background-color: #A6E2B1;
                border: none;
                border-radius: 5px;
              }
              .pro_btn > a > button {
                display:block;
                width:100%; height:35px;
                background-color: #A6E2B1;
                border: none;
                border-radius: 5px;
              }
              .pro_btn > a:hover {
                background-color: #2a913e;
                color:rgb(81, 81, 81)
              }
              .pro_btn > a > i {
                padding-top: 5px;  
                margin-right: 5px;
              }
              .fa-ban { 
                color:#006713;
              }
            .search_cont {
              justify-self: center;
              width:100%; height:50px;
              padding: 0 20px;
              margin-bottom: 20px;
            }
              .search_box {
                margin: 0 auto;
                width:100%; height:100%;
                border: 2px solid rgb(23, 106, 3);
                border-radius: 5px;
              }
                  .ser_input {
                    float:left;
                    display: grid;
                    grid-template-columns: repeat(6,13px 100px);
                    width:90%; height:100%;
                    line-height:3.3;
                    gap:5px;
                    font-size: 14px;
                  }
                .search_option2 {
                  padding: 4px;
                  width:100%; height:100%;
                }
                  .search_option2 > p {
                    float: left;
                    width:15%; height:100%;
                    font-weight: bold;
                    line-height: 2.5;
                  }
                  #select_qu {
                    float:left;
                    width:15%; height:100%;
                    margin-right: 10px;
                    border-radius:5px;
                    border: 1.5px solid #C6C6C680;
                  }
                  .ser2_input {
                    float:left;
                    display: grid;
                    grid-template-columns:80% 20%;
                    width: calc(70% - 20px); height:100%;
                    line-height:3.3;
                    gap:5px;
                    font-size: 14px;
    
                  }
                  .serch_in {
                    border-radius:5px;
                    padding: 10px;
                    border: 1.5px solid #C6C6C680;
                  }
                  .serch_btn {
                    border-radius:5px;
                    border: 1.5px solid #C6C6C680;
                  }
            #content {
              float: left;
              padding: 0px 30px;
              width:100%; height:100vh;
              background-color: #EAEFEB;
            }
              .listTitle {
                width:100%; height:40px;
                font-weight: bold;
              }
                .studentTitle {
                  float: left;
                  width:70px; height:40px;
                  line-height:38px;
                  font-size: 13px;
                  text-align: center;
                  border-bottom: 3px solid #007010;
                }
                .studentCnt {
                  float:right;
                  width:80px; height:40px;
                  line-height:38px;
                  font-size: 13px;
                  text-align: center;
                  border-bottom: 2.5px solid #007010;
                }
              .listMain {
                margin-top: 0px;
                width:100%; height:100%;
                background-color: #ffffff;
                border-radius: 3px;
              }
                .mainTitle {
                  display: block;
                  gap: 2px;
                  font-size:12px;
                  text-align: center;
                  width:100%;height:220px;
                  padding: 5px;
                  font-size: 10px;
                  border-bottom: 1.5px solid #C6C6C680;
                }																
                  .mainType1, .mainType2, .mainType3 {
                    float: left;
                    width: 100%;
                    height: 73px;
                    
                  }
                  .mainTypeName1 {
                    text-align: left;
                    padding-left: 10px;
                    
                  }
                  .mainTypeName2, .mainReportname2 {
                    padding-left: 0;
                    
                  }
                  .mainReportname1 {
                    width:50%;
                    text-align: left;
                    padding-left: 10px;
                    border:none;
                  }
                  .mainReportname2 {
                    width: 50%;
                    border-bottom:none;
                  }
                  .mainWriteName1 {
                    width:50%;
                    text-align: left;
                    padding-left: 10px;
                    border-bottom:none;
                  }
                  .mainWriteName2 {
                    width: 50%;
                    border-bottom:none;                
                  }
                .mainInfo {
                  padding: 5px;
                }
                  .mainWriter1 {
                    float: left;
                    width: 100%;
                    height: 12%;
                  }
                    .mainWriterName1 {
                      width:50%; 
                      text-align: left;
                      padding-left: 10px;
                      line-height: 2.5;
                    }
                    .mainWriterName2 {
                    width:50%;
                      line-height: 2.5;
                    }
                  .mainWriter2 {
                    float: left;
                    width: 100%;
                    height: 12%;
                  }
                    .mainWriterDate1 {
                      width:50%; 
                      text-align: left;
                      padding-left: 10px;
                      line-height: 3;
                      margin: 0;
                    }
                    .mainWriterDate2 {
                    width:50%;
                      line-height: 3.5;
                              padding: 0;
                    }
                   .mainContent1 {
                   width:50%;
                   margin: 0;
                   }
                   .mainContent2 {
                   width:50%;
                   padding: 0;
                   }
                .mainContent {
                  height:30%;
                }
                  .mainAnswer {
                    float: left;
                    width: 100%;
                    height: 28%;
                  }
                  .mainAnswer1 {
                  width:30%;
                  margin:0;
                  }
                    .answerBox1 { 
                      width: 100%;
                      height: 30%;
                      float: left;
                    }
                    .mainAnswer2 {
                    width:70%;
                    padding:0;
                    }
                    .mainAnswer2 > textarea {
                      width: 100%;
                      height: 50%;
                      border: 2px solid #c3c3c3;
                      border-radius: 5px;
                      float: left;
                      font-family: 'Dovemayo_gothic';
                              margin-top: 20px;
                    }
}